body {
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header { 
    background-color: lightbrown;

}

.library-container { 
    background-color: "#b5a372"; 
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

}

.book-card { 
    background-color: grey; 
    color: white; 
    border: 2px solid black; 
    border-radius: 10px;
    width: 200px; 
    min-height: 150px;

}

.book-text { 
    white-space: "pre-wrap";
}